body {
    background-color: rgb(20, 20, 20);
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: rgb(28, 28, 28);
    color: white;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: black 0px 0px 7px 0px;
    user-select: none;
    z-index: 2;
}
.headerTextLeft {
    padding: 18px 5px;
    margin: auto 0;
    float: left;
    font-size: 22px;
    font-weight: bold;
}
.headerBack {
    float: left;
    margin: 8px;
    padding: 10px;
    font-size: 28px;
    width: 28px;
    height: 28px;
    display: block;
    text-align: center;
    line-height: 1.0;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 15%;
}

.headerSideListBackground {
    z-index: 1;
    background-color: black;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: fixed;
}
.headerSideList {
    background-color: rgb(28, 28, 28);
    color: white;
    position: fixed;
    box-shadow: black 0px 0px 7px 0px;
    user-select: none;
    z-index: 2;
    height: calc(100% - 64px);
    width: 240px;
    font-size: 22px;
    display: block;
    overflow-y: auto;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 64px;
    transition: 0.4s;
}
.headerSideListButton {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 16px;
    font-weight: normal;
    user-select: none;
    cursor: pointer;
    float: left;
    transition: 0.2s;
}
.headerSideListButton p {
    margin: 10px;
}
.headerSideListButton:hover {
    background-color: rgb(68, 68, 68);
    transition: 0.2s;
}
.headerSideListButton:active {
    background-color: rgb(153, 153, 153);
    transition: 0.2s;
}

.footer {
    background-color: rgb(28, 28, 28);
    color: white;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: black 0px 0px 7px 0px;
    user-select: none;
    z-index: 2;
}
.footerSend {
    float: right;
    margin: 8px;
    padding: 5px;
    font-size: 30px;
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    background-color: #e3cc66;
    color: black;
    box-shadow: black 0 0 7px 0px;
}

.chatLog {
    height: calc(100% - 64px - 60px - 10px);
    width: calc(100% - 10px);
    font-size: 24px;
    color: black;
    display: block;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 64px;
}
.chatLogHistory {
    width: 100%;
    height: auto;
    display: flow-root;
}
.bubble {
    margin-bottom: 5px;
    height: auto;
    display: block;
    max-width: 130px;
    width: max-content;
    padding: 10px;
    border-radius: 22px;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
}
.bubbleLeft {
    background-color: rgb(252, 105, 191);
    float: left;
    margin-right: 100%;
}
.bubbleRight {
    background-color: #e3cc66;
    float: right;
    margin-left: 100%;
}
.bubbleSent {
    color: #838383;
    float: right;
    font-size: 16px;
    margin: 0;
    margin-right: 5px;
}

.buttonRound:hover {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.buttonRound:active {
    margin: 14px;
    padding: 4px;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 50%;
}

.inputArea {
    margin: 10px 60px 10px 10px;
    width: calc(100% - 45px - 60px);
    height: 22px;
    resize: none;
    font-size: 18px;
    font-family: 'Quicksand';
    background-color: #141414;
    color: white;
    border-radius: 20px;
    padding: 8px 16px 8px;
    position: absolute;
    overflow-y: hidden;
}
.inputArea:focus {
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px #e3cc66;
}

.usersScroll {
    height: calc(100% - 64px);
    width: 100%;
    font-size: 22px;
    color: white;
    display: block;
    position: absolute;
    overflow-y: auto;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 64px;
}
.users {
    width: 100%;
}
.listUser {
    margin: 0;
    width: 100%;
    height: 70px;
    display: block;
    font-size: 20px;
    font-weight: normal;
    user-select: none;
    cursor: pointer;
    float: left;
    transition: 0.2s;
    border-bottom: solid;
    border-width: 1px;
}
.listUser:hover {
    background-color: rgb(68, 68, 68);
    transition: 0.2s;
}
.listUser:active {
    background-color: rgb(153, 153, 153);
    transition: 0.2s;
}
.listUserName {
    margin: 8px 12px;
}
.listUserLatestMessage {
    margin: 5px 12px;
    font-size: 12px;
    width: 75%;
    height: 24px;
    line-break: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
