body {
    background-color: rgb(20, 20, 20);
    font-family: 'Quicksand', sans-serif;
    color: white;
}
p, span, h5, h4 {
    color: white;
}
h3, h2, h1, a, a:visited {
    color: #ffe264;
}

.copyBubble {
    position: absolute;
    background-color: #fc69bf;
    padding: 5px;
    border-radius: 10px;
    display: inline;
    bottom: 60px;
}
.copyBubble::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0;
    border-top: 7px solid #fc69bf;
    border-left: 7px solid rgb(0 0 0 / 0%);
    border-right: 7px solid rgb(0 0 0 / 0%);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 12px;
}
  
.messageHistoryTitle {
    color: #989898;
    margin: 10px;
    font-size: 14px;
    text-align: center;
}
hr {
    border-color: #3a3a3a;
}

#notifications {
    display: block;
    position: absolute;
    z-index: 999;
}
.notification {
    width: 303px;
    margin-bottom: 5px;
    background-color: #2a2a2a;
    border-radius: 5px;
    border: solid;
    border-color: #ffe264;
    border-width: 1px;
}
.notification a {
    color: white;
    text-decoration-line: none;
}
.notification a p, .notification a h3 {
    margin: 5px;
    overflow-wrap: anywhere;
}
.notification a h3 {
    color: #ffe264;
}

button {
    width: fit-content;
    height: auto;
    margin-top: 15px;
    margin-right: 5px;
    padding: 8px 16px 8px;
    display: block;
    background-color: #242424;
    color: #ffe264;
    border-color: #ffe264;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background-color: #363636;
    color: #ffffff;
    border-color: #ffffff;
    transition: 0.2s;
}
button:active {
    background-color: #1b1b1b;
    color: #5a5a5a;
    border-color: #5a5a5a;
    transition: 0.2s;
}

.disconnectedD {
    width: 300px;
    padding: 20px;
    margin: 150px auto auto;
    background: #1d1d1d;
    border: solid;
    border-width: 1px;
    border-color: #ffe264;
    border-radius: 5px;
    display: flow-root;
}
.disconnectedH {
    color: #ffe264;
    margin: 0;
}
.disconnectedT {
    margin: 0;
}
.disconnectedB {
    width: fit-content;
    height: 22px;
    margin-top: 15px;
    margin-right: 5px;
    padding: 8px 16px 8px;
    float: left;
    display: block;
    background-color: #242424;
    color: #ffe264;
    border-color: #ffe264;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
.disconnectedB:hover {
    background-color: #363636;
    color: #ffffff;
    border-color: #ffffff;
    transition: 0.2s;
}
.disconnectedB:active {
    background-color: #1b1b1b;
    color: #5a5a5a;
    border-color: #5a5a5a;
    transition: 0.2s;
}

.header {
    background-color: rgb(28, 28, 28);
    color: white;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: black 0px 0px 7px 0px;
    user-select: none;
    z-index: 4;
}
@media screen and (min-width: 540px) {
    .headerTextLeft {
        padding: 18px 5px;
        margin: auto 0 auto 10px;
        float: left;
        font-size: 22px;
        font-weight: bold;
    }
    .headerBack {
        display: none;
    }
}
@media screen and (max-width: 539px) {
    .headerTextLeft {
        padding: 18px 5px;
        margin: auto 0;
        float: left;
        font-size: 22px;
        font-weight: bold;
    }
    .headerBack {
        float: left;
        margin: 8px;
        padding: 10px;
        width: 28px;
        height: 28px;
        display: block;
        text-align: center;
        line-height: 1.0;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 15%;
    }
}

.headerSideListBackground {
    z-index: 3;
    background-color: black;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: fixed;
}
.headerSideList {
    background-color: rgb(28, 28, 28);
    color: white;
    position: fixed;
    box-shadow: black 0px 0px 7px 0px;
    user-select: none;
    z-index: 6;
    height: calc(100% - 64px);
    width: 240px;
    font-size: 22px;
    display: block;
    overflow-y: auto;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 64px;
    transition: 0.4s;
}
.headerSideListButton {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 16px;
    font-weight: normal;
    user-select: none;
    cursor: pointer;
    float: left;
    transition: 0.2s;
}
.headerSideListButton p {
    margin: 10px;
}
.headerSideListButton:hover {
    background-color: rgb(68, 68, 68);
    transition: 0.2s;
}
.headerSideListButton:active {
    background-color: rgb(153, 153, 153);
    transition: 0.2s;
}

.footer {
    background-color: rgb(20 20 20);
    color: white;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    user-select: none;
    z-index: 2;
}
.footerSend {
    float: right;
    margin: 6px;
    padding: 10px;
    width: 28px;
    height: 28px;
    display: block;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    background-color: #ffe264;
    color: black;
    box-shadow: black 0 0 7px 0px;
}
.footerLeftButton {
    float: left;
    margin: 10px 5px;
    padding: 6px;
    width: 28px;
    height: 28px;
    display: block;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
}
.footerLeftButton:active {
    margin: 12px 7px;
    padding: 4px;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 50%;
}

.inputArea {
    margin: 10px 0;
    width: calc(100% - 45px - 60px - 40px);
    height: 22px;
    resize: none;
    font-size: 18px;
    font-family: 'Quicksand';
    background-color: #242424;
    color: white;
    border-radius: 20px;
    padding: 8px 16px 8px;
    position: absolute;
    overflow-y: hidden;
}
.inputArea:focus {
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px #ffe264;
}

.mainContent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 540px) {
    .userListContent {
        width: 290px;
        height: calc(100% - 64px - 10px);
        float: left;
        display: block;
        font-size: 24px;
        color: rgb(0 0 0);
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 5px;
        bottom: 0;
        right: 0;
        left: 0;
        top: 64px;

        background-color: rgb(28 28 28);
        z-index: 5;
    }
}
@media screen and (max-width: 539px) {
    .userListContent {
        display: none;
    }
}

@media screen and (min-width: 540px) {
    .footer {
        left: 300px;
        width: calc(100% - 300px);
    }
}
@media screen and (min-width: 540px) {
    .chatLogDevice {
        width: calc(100% - 310px);
        float: right;
        left: 300px;
    }
}
@media screen and (max-width: 539px) {
    .chatLogDevice {
        height: calc(100% - 64px - 60px - 10px);
        width: calc(100% - 10px);
        left: 0;
    }
}
.chatLog {
    font-size: 24px;
    color: black;
    display: block;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    bottom: 60px;
    right: 0;
    top: 64px;
}
.chatLogHistory {
    width: 100%;
    height: auto;
    display: flow-root;
}
.message {
    margin-bottom: 5px;
    height: auto;
    display: flow-root;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    user-select: none;
    overflow-wrap: break-word;
    background-color: transparent;
    transition: 0.2s;
    border-bottom: solid;
    border-width: 1px;
    border-color: #fdfdfd40;
}
.message:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}
.messageAvatar {
    float: left;
    display: block;
    border-radius: 50%;
    margin: 10px;
}
.messageContent {
    width: calc(100% - 104px);
    height: auto;
    min-height: 46px;
    margin: 10px;
    display: flow-root;
    float: left;
}
.messageUsername {
    margin: 0;
    font-size: 18px;
    color: #ffe264;
}
.messageText {
    color: white;
    font-size: 16px;
}
.bubbleSent {
    color: #838383;
    float: right;
    font-size: 16px;
    margin: 0;
    margin-right: 5px;
}

.buttonRound:hover {
    transition: 0.2s;
    border-radius: 50%;
}
.buttonRound:active {
    margin: 14px;
    padding: 4px;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 50%;
}
.footerSend:active {
    margin: 10px;
    padding: 6px;
}

.contextList {
    width: auto;
    height: auto;
    min-width: 150px;
    min-height: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    position: fixed;
    z-index: 999999;
    font-weight: bold;
    font-size: medium;
    display: block;
    user-select: none;
    padding: 4px;
    top: 0;
    left: 0;
}
.contextList p {
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0 0 0);
}
@media screen and (min-width: 540px) {
    .contextList p:hover {
        background-color: rgb(226, 226, 226);
    }
}
.contextList p:active {
    background-color: rgb(226, 226, 226);
}
.contextList hr {
    border-color: #e2e2e2;
}

.usersScroll {
    height: calc(100% - 64px);
    width: 100%;
    font-size: 22px;
    color: white;
    display: block;
    position: absolute;
    overflow-y: auto;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 64px;
}
.users {
    width: 100%;
    display: flex;
    color: white;
    text-decoration-line: none;
}
.selectedUser {
    background-color: rgb(51 51 51);
    border-radius: 5px;
}
.listUser {
    margin: 0;
    width: 100%;
    height: 56px;
    display: block;
    font-size: 20px;
    font-weight: normal;
    user-select: none;
    cursor: pointer;
    float: left;
    transition: 0.2s;
    border-radius: 5px;
}
.listUser:hover {
    background-color: rgb(68, 68, 68);
    transition: 0.2s;
}
.listUser:active {
    background-color: rgb(153, 153, 153);
    transition: 0.2s;
}
.listUserName {
    margin: 16px 12px;
}
.listUserLatestMessage {
    margin: 5px 12px;
    font-size: 12px;
    width: 75%;
    height: 24px;
    line-break: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userStatus0 {
    width: 14px;
    height: 14px;
    background-color: #6d6d6d;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.2s;
    transition-delay: 5s;
}
.userStatus1 {
    width: 14px;
    height: 14px;
    background-color: #47f247;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.2s;
}
.userStatus2 {
    width: 14px;
    height: 14px;
    background-color: #f8ca31;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.2s;
}
.userStatus3 {
    width: 14px;
    height: 14px;
    background-color: #f24d47;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.2s;
}

.emojiList {
    width: 305px;
    height: 310px;
    bottom: 60px;
    left: 0;
    display: block;
    position: absolute;
    background-color: #2a2a2a;
    border-radius: 5px;
    padding: 10px;
}
.emojiListGrid {
    width: 100%;
    height: 270px;
    overflow-y: scroll;
}
.emojiListContent {
    width: 100%;
    display: flow-root;
}
.emojiList h2 {
    margin: 0 0 10px;
}
.emoji {
    width: 32px;
    height: 32px;
    margin: 2px;
    float: left;
    user-select: none;
    cursor: pointer;
    line-height: 2.1;
    text-align: center;
}
.emoji:hover {
    background-color: #00000011;
    border-radius: 5px;
}

.inputForm {
    width: 70%;
    margin: 0 auto;
    position: unset;
    display: block;
    border: solid;
    border-width: 1px;
    border-color: #ffe264;
    color: #ffe264;
}
.loginBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-position: center;
    background-size: cover;
    z-index: -10;
    transition: 1s;
}
.logo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 100px;
    margin: 0 auto;
}
.logoText {
    font-size: 44px;
    margin: auto 0;
    left: 120px;
    top: 22px;
    display: block;
    position: absolute;
    text-shadow: 0 0 10px white;
}
.loginContent {
    color: white;
    width: 100%;
    height: auto;
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    user-select: none;
    z-index: 2;
    max-width: 320px;
    margin: 0 auto;
}
.loginOption {
    width: 70%;
    margin: 10px auto;
    display: block;
    color: #ffe264;
    text-align: center;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.loginOption:active {
    text-shadow: 0 0 8px #fff0af;
}
input[type="submit"] {
    cursor: pointer;
}
input {
    transition: 0.2s;
}
.loginError {
    text-align: center;
    margin: 12px auto;
    padding: 9px;
    color: #ff6666;
    font-weight: 500;
    width: calc(70% + 14px);
    position: unset;
    border: solid;
    border-width: 1px;
    border-color: #ff6666;
    border-radius: 20px;
    background-color: #2a0000;
}
.errorClose {
    float: right;
    width: 20px;
    height: 100%;
    display: block;
    cursor: pointer;
}

.newMessage {
    width: calc(100% - 20px);
    height: 32px;
    position: absolute;
    top: -32px;
    background-color: #e82e2e;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    margin: auto 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.newMessage span {
    margin: 6px 0;
    display: block;
}

.friendsIcon {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url(../../img/icon-friends.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.profileIcon {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url(../../img/icon-profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.generalIcon {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url(../../img/icon-channel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.ui-page {
    min-height: 50px !important;
}
.ui-loader {
    display:none !important;
}
.ui-btn {
    color: transparent;
}

.chat-loading {
    height: 100px;
    width: calc(100% - 310px);
    display: block;
    position: fixed;
    filter: opacity(0.5);
    transition: 1s;
}
.chat-loading-avatar {
    float: left;
    display: block;
    border-radius: 50%;
    margin: 10px;
    width: 64px;
    height: 64px;
    background: radial-gradient(#fc69bf, #e91c93);
    transition: 1s;
}
.chat-loading-name {
    margin: 0;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #ffe264 0%, #ad9a44 50%, #ffe264 100%);
    background-size: 200%;
    background-position: left;
    transition: 1s;
}
.chat-loading-text {
    margin: 0;
    margin-top: 5px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, white 0%, gray 50%, white 100%);
    background-size: 200%;
    background-position: left;
    transition: 1s;
}

@media screen and (max-width: 539px) {
    .settingsPanel {
        width: calc(100% - 30px);
        padding: 20px;
        margin: 20px auto;
        background: #1d1d1d;
        border: solid;
        border-width: 1px;
        border-color: #ffe264;
        border-radius: 5px;
        display: flow-root;
    }
}
@media screen and (min-width: 540px) {
    .settingsPanel {
        width: 70%;
        padding: 20px;
        margin: 20px auto;
        background: #1d1d1d;
        border: solid;
        border-width: 1px;
        border-color: #ffe264;
        border-radius: 5px;
        display: flow-root;
    }
}
.setting {
    display: flow-root;
}
.setting button {
    float: right;
    margin: 14px 0 0;
}
.settingLeft {
    float: left;
}
.settingTitle {
    color: darkgray;
    margin-top: 10px;
    margin-right: 10px;
    font-size: large;
    display: block;
}

#reader__status_span {
    display: none !important;
}

.miniProfile {
    display: flow-root;
    border: solid;
    border-width: 1px;
    border-color: #fdfdfd40;
    background-color: #2d2d2d;
    border-radius: 7px;
    margin-bottom: 5px;
}

.ui-input-btn {
    color: transparent;
}